body {
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #121c50;
}

/*HEADER*/
#title {
    font-family: "Oswald", sans-serif;
    font-size: 200px;
    color: #e2333f;
    letter-spacing: 10px;
    margin-left: 4%;
    margin-top: 0;
    background-color: #F2F2F2;
    padding-left: 4%;
    

}

#title2 {
    font-family: "Oswald", sans-serif;
    font-size: 200px;
    color: #121c50;
    letter-spacing: 10px;
    margin-top: 0;
    margin-left: -20px;
    background-color: #F2F2F2;
    
}

#values{
    font-size: 32px;
    line-height:40px;
    color:white;
    font-weight: bold;
    text-align: center;
}
#title3 {
    font-family: "Oswald", sans-serif;
    font-size: 200px;
    color: #121c50;
    letter-spacing: 0px;
    margin-left: -12%;
    background-color: #F2F2F2;
    font-style: bold;
    height: 220px;
    line-height: 220px;
    margin-top: 0;
    padding-bottom: 12px;
    padding-top: 0px;

    
}
#heart{

    font-size:140px;
    color:purple;
}

.row .col {
    padding: 0;
}

/*CENTER CONTENT*/
#wrapper {
    margin-left: 5%;
    margin-right: 6%;
}

/*CARD*/
.card {
    margin-left: 22%;
    background-color: #F2F2F2;
    color: #3D3F01;


}
.card-content{

    background-color: #F2F2F2;
    color: #3D3F01;

}
#resulting{

    margin-left: -100px;
}

.btn {

    background-color: #186a8c;
}

#surveyLand{

    margin-left: 14%;
}

footer{
    margin-left: 0px;
    margin-top: 100px;
}

#span{

line-height: 46px;
    }

.card .card-content .card-title {
    
    font-family: "Oswald", sans-serif;
    text-align: center;
    letter-spacing: 2px;
    color: #3D3F01;
    font-size: 40px;
    margin-bottom: 15px;
    background-color: #F2F2F2;
}

#sub{
    margin-left: -70px;
    color: #3D3F01;
}
.card{
    color: #3D3F01;

}

.card-title{
    color: #3D3F01;

}




/*MODAL*/
#modal1 {
    display: block;
    margin-bottom: .85em;
    margin-left: 10px;
}

.modal .modal-content {
    background-color: #F2F2F2;
    text-align: center;
    color: #3D3F01;
}

/*BUTTONS*/
.btn {
    background-color: #999;
}

.btn:hover {
    background-color:#333;
}

.btn:active {
    background-color: #999;
}

.btn:visited {
    background-color: #999;
}

.btn:focus {
    background-color: #333;
}
/*MODAL TEXT*/
#nameBrew {
    font-family: "Oswald", sans-serif;
    font-size: 50px;
    margin-bottom: 30px;
    color: #3D3F01;
}


p {
    font-family: "Raleway", sans-serif;
    font-style: italic;
    font-size: 20px;
    margin-bottom: 20px;
    color: #3D3F01;
    background-color: #121c50;

}

@media screen and (max-width: 1000px) {
    #title {
        background-color: transparent;
        margin-left: 8%;
        font-size: 160px;
        
    }
    #title3 {
        background-color: transparent;
        clear:left;
        margin-left: 25%;
        
    }
    #title2{
        background-color: transparent;
        clear:left;
        margin-left: 8%;
        margin-top: 70px;
        font-size: 36px;

    } 
  
    #resulting{
        margin-left: 7%;
        line-height: 38px;

        
    }

    #span{

line-height: 46px;
    }

    #results{
 margin-left: 1%;

 min-width:230px;

 

    }


    #heart{

    font-size: 220px;
}

    .btn{

        font-size: 18px;
        min-width:260px;
    }
   

    #subDiv{

        margin-left: 30%;
    }

    #sub {

        
        min-width:200px;
        padding-left: 20px;
    }
}