#magicGifs {
    min-height: 140px;
    background-color: white;
    border-color: #757171;
    border-style: solid;
    border-width: 16px;
    margin-left: 0px;
}

#instructions {
    text-align: center;
    line-height: 34px;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color:#121c50;
    color: white;
    font-size: 30px;
}

.giphy {
    margin: 6px;
    height: 50px;
    min-width: 240px;
    padding: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 2px;
    border-color: #757171;
    background-color: #eeeeee;
    color: #777777;
    font-size: 20px;
    line-height: 38px;
}

body {
    background-image: url("../assets/images/American-Flag.jpg");
    font-size: 20px;
}

#name-input{

    color:black
    ;
}

#add-name{

    color:white;
    background-color: #121c50;

}

.jumbotron {
    min-height: 180px;
    padding: 6px;
    margin-top: 12px;
    background-color: #121c50;
    color:white;
}

#headline {

    display: inline;
    float: left;
}

#side {

    display: inline;
    float: right;
    border-color: #757171;
    border-style: solid;
    border-width: 3px;
    margin-top: 8px;
    padding: 34px;
    background-color: #e2333f;
}

.callName {

    margin: 8px;
}

p{

    color:white;
}

#gif-buttons {

    min-height: 140px;
    border-color: #757171;
    border-style: solid;
    border-width: 16px;
    margin-bottom: 16px;
    background-color: #e2333f;
}

.item {

    float: left;
    margin-right: 18px;
}

@media screen and (max-width: 1200px) {

#wrapper{

    margin-left: auto;
    margin-right: auto;
}

   .jumbotron {
    min-height: 320px;
    padding: 6px;
    margin-top: 6px;
    background-color: #121c50;
    color:white;

}

#headline{

     font-size: 70px;
}

#side {
    display: block;
    float:left;
    text-align: center;
    border-color: #757171;
    border-style: solid;
    border-width: 3px;
    margin-top: 8px;
    padding: 9px;
    min-height: 140px;
    font-size: 36px;
    background-color: #e2333f;
}

#gif-buttons {
    display: block;
    clear: left;
    min-height: 750px;
    border-color: #757171;
    border-style: solid;
    border-width: 16px;
    margin-bottom: 16px;
   background-image: url("../assets/images/American-Flag.jpg");
    padding: 18px;
    
}

.callName {
    margin: 2px;
    display: inline;
    clear:all;
    font-size:34px;
    line-height: 50px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

#magicGifs {
  
    display: block;
    clear: left;
    background-color: white;
    border-color: transparent;
   margin-left: auto;
   margin-right: auto;

}



#instructions{

    display: block;
    clear: left;
    font-size: 40px;
    padding:18px;
    margin-top: 18px;
    line-height: 50px;
}
}



    background-image: none;
}
